@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Stylish&display=swap");
* {
  font-family: "Dongle", sans-serif;
  font-family: "Stylish", sans-serif;
}
html {
  background-color: rosybrown;
}

body {
  margin-top: 10%;
}
img {
  margin: 10px 10px 10px 10px;
  border: 8px solid rgba(159, 63, 63, 0.762);
  border-radius: 15px;
}

.container {
  text-align: center;
  margin: 0 auto;
}
