html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  align-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr, 3fr, 3fr;
  grid-template-rows: 1fr, 3fr, 3fr;
  background-color: black;
  width: 100%;
  height: 100%;
  /* gap: 80px; */
  /* align-items: stretch; */
  /* justify-items: center; */
  /* align-content: stretch; */
}

.item {
  /* width: auto;
  height: auto; */
  border: 1px dashed black;
  color: whitesmoke;
  background-color: grey;
  /* padding: 20%; */
}

.item:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
