html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  align-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-template-columns: 200px 200px 500px; */
  grid-template-rows: repeat(3, auto);
  gap: 50px;
}

.item {
  color: whitesmoke;
  background-color: grey;
  /* padding: 20%; */
}
