<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LikeLion Attendence</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="header-layout">
      <h1>멋쟁이 사자처럼 11기 출석부</h1>
    </div>
    <div class="article-layout">
      <div class="article-column">
        <div>이름</div>
        <div>학과(부)</div>
        <div>파트</div>
      </div>

      <% members.forEach(member=>{ %>
      <div class="article">
        <div><%= member.name %></div>
        <div><%= member.department %></div>
        <div><%= member.part %></div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
