<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LikeLion Express</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="greeting">
      <div class="greeting-ment">
        <h1>노드로 서버켜기 성공</h1>
      </div>
    </div>
  </body>
</html>
